@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.App {
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  position: relative;
  margin: 20px;
  padding: 20px;
  height: auto;
}

.input-box input[type="text"] {
  margin: 20px 0;
  text-align: center;
}

.none {
  transform: scale(0);
  transition: 0.2s;
}

.box-result,
.low,
.normal,
.high {
  transition: 0.2s;
  transform: scale(1);
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  margin: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.low,
.normal,
.high {
  background-color: #0984e3;
  color: white;
}

.normal {
  background-color: #05c46b;
}

.high {
  background-color: #ff3f34;
}
